@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary: #0d47a1;
  --color-primary-hover: #1565c0;
  --color-primary-soft: #e3f2fd;

  /* Secondary (masih keluarga biru) */
  --color-secondary: #1976d2;
  --color-secondary-hover: #42a5f5;
  --color-secondary-soft: #e8f1ff;

  /* Neutral */
  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  --color-border: #e2e8f0;

  /* Semantic */
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
}
